*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

html{
    background: url("3867571-1373125886-art-scale-4_00x-gigapixel.png") no-repeat center center/cover fixed;
}

body{
    display: flex;
    position: relative;
}

/* main{
    display: flex;
    height: 100vh;
    width: 100vw;
} */


#vhs{
    margin-top: 60.2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 8rem;
    transform: skew(343deg,10deg);
}

#ekran {
    width: 305px;
    height: 204px;
    background-image: url(assets/tv.png);
    margin: 43rem 2rem 2rem 148rem;
    box-sizing: border-box;
    padding: 27px 15px 80px;
}

iframe {
    width: 102%;
    height: 160%;
    margin: -1.5rem 0rem 1rem -0.5rem;
    background-color: black;
}



/* img{
    max-height: 10%;
    max-width: 20%;
    transform: skew(7deg,350deg) translate(165px, 320px) rotate(3deg);
    z-index: 1;
}

.televizor{
    transform: skew(7deg,350deg) translate(-305px, 144px) rotate(3deg);
    height: 26.7rem;
    width: 71rem;
    overflow: hidden;
}

/* iframe{
    z-index: 2;
    transform: skew(7deg,350deg) translate(-305px, 144px) rotate(3deg);
    height: 26.7rem;
    width: 71rem;
} 

iframe > #document > html > body > img{
    height: 100%;
} */